
.word { 
    word-spacing: 20px;
  }
  .fcolor{
    color: 929CA5;
  }
  ul {
    list-style-type: none;
    
  }

$color:#5A82FF;
$fontsize:35px;
$font:Helvetica;
$iconize:15px;
$fsize : 24px;
$col:#52CAA6;
$sword:40px;
$fs:60px;
$co:gray;
$clr:#6095FF;
$lr :#52CAA7;
$wcl : white;
$si : xx-large;
$cg :  gray;
$cr : 5A82FF;
$ffa : arialblack;


  .logo{
    font-family: $font;
    font-size: $fontsize;
    color: $color;
    
  }
  
.colr{
  color: $clr;
}
  .icon{
    font-size: $iconize;
  }
  .playvideo{
    font-size: $fsize;
     word-spacing:$sword;
  }

.front{
  font-size: $fs;
 
}
.col{
  color: $co;
}
.cl{
  color:$lr;
}
.wcol{
  color: $wcl;
}
.navml{
  margin-left:-4%; 
}
.size{
  font-size:$si;
}
.gc{
  color:$cg;
}
.footer{
  color: $cr;
  font-family:$ffa;
  font-size:$fontsize ;

}
@mixin  fclr {

   color: $col;
}
.playvideo{
  @include  fclr;
}
