.word {
  word-spacing: 20px;
}

.fcolor {
  color: 929CA5;
}

ul {
  list-style-type: none;
}

.logo {
  font-family: Helvetica;
  font-size: 35px;
  color: #5A82FF;
}

.colr {
  color: #6095FF;
}

.icon {
  font-size: 15px;
}

.playvideo {
  font-size: 24px;
  word-spacing: 40px;
}

.front {
  font-size: 60px;
}

.col {
  color: gray;
}

.cl {
  color: #52CAA7;
}

.wcol {
  color: white;
}

.navml {
  margin-left: -4%;
}

.size {
  font-size: xx-large;
}

.gc {
  color: gray;
}

.footer {
  color: 5A82FF;
  font-family: arialblack;
  font-size: 35px;
}

.playvideo {
  color: #52CAA6;
}
/*# sourceMappingURL=taskstyle.css.map */